.evenements {
  padding: 0px 85px;
  padding-bottom: 60px;
}

.container-evenement {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.evenement-article {
  margin-top: 60px;
  max-height: 620px;
}

.evenement-article h3 {
  padding: 30 0px 60px 60px;
  color: white;
}

.evenement-article h2 {
  text-align: right;
  transform: rotate(8deg);
}

.oval img {
  justify-content: right;
}

// .article-container img {
//   z-index: -10;
// }

.article-container {
  position: relative;

  .article-time {
    position: absolute;
    top: 0;
    left: 0;
  }
  .article-type {
    position: absolute;
    bottom: 65px;
    right: 140px;
    // background-color: re;
  }

  .oval {
    position: absolute;
    bottom: 30px;
    right: 80px;
  }
}

// .article-concert {
//   position: relative;

//   .article-type {
//     position: absolute;
//     right: 5px;
//   }
// }
