.presentation-texte {
  padding: 120px 0px 120px 85px;
}

.presentation-texte h2 {
  padding-bottom: 30px;
}

.presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
