.titre-programme {
  text-align: center;
  padding: 50px 0px;
  background-color: #d9ff63;
}

.titre-programme-vendredi {
  padding: 40px 0px;
  text-align: center;
  background-color: #2547d5;
  color: white;
}

.titre-programme-samedi {
  padding: 40px 0px;
  text-align: center;
  background-color: #14112e;
  color: white;
}

.titre-programme-dimanche {
  padding: 40px 0px;
  text-align: center;
  background-color: #d9ff63;
  color: black;
}
