@import "base";
@import "layout";
@import "modules/example";
@import "modules/navigation";
@import "modules/titre-festival";
@import "modules/oval-logo";
@import "modules/presentation";
@import "modules/programme";
@import "modules/evenement";
@import "modules/exposition";
@import "bootstrap/scss/bootstrap-grid";
@font-face {
  font-family: "PixelEmulator";
  src: url("../../font/PixelEmulator.woff2") format("woff2"),
    url("../../font/PixelEmulator.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
